<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.Cynical.android.fishingdatabase"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="8" />
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>

    <application android:icon="@drawable/icon" android:label="@string/app_name" android:debuggable="true">
        <activity android:name=".startingUI"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="EditFish" android:label="@string/app_name"></activity>
        <activity android:name="AddSpecies" android:label="@string/app_name"></activity>
        <activity android:name="AddLure" android:label="@string/app_name"></activity>
        <activity android:name="AddLureColor" android:label="@string/app_name"></activity>
        <activity android:label="@string/app_name" android:name="NewFish"></activity>
        <activity android:label="@string/app_name" android:name="AddLake"></activity>
        <activity android:label="@string/app_name" android:name="ViewSpecies"></activity>
        <uses-library android:name="com.google.android.maps" android:required="true"></uses-library>
        <activity android:name="FishMap" android:label="@string/app_name"></activity>
        <activity android:name="ViewFish" android:label="@string/app_name"></activity>
        <activity android:label="@string/app_name" android:name="CurrentWeather"></activity>
        <activity android:name="ViewFishDetails" android:label="@string/app_name">
        </activity>
        <activity android:name="MainPreferences" android:label="@string/app_preferences_name"></activity>

    </application>
</manifest>